/* @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Roboto+Slab:wght@500&family=Rubik+Wet+Paint&family=Trade+Winds&family=Trocchi&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-rubik-wet-paint), system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.hero-text{
  font-family: var(--font-rubik-wet-paint), system-ui;
  font-weight: 400;
  font-style: normal;
}

.bot-text{
  font-family: var(--font-trocchi), serif;
  font-weight: 400;
  font-style: normal;
}